<h3 class="section-title">{{ title }}</h3>

<div class="grid" [formGroup]="group">

  <div class="field">
    <label>Name *</label>
    <input
      formControlName="name"
      [class.invalid]="isInvalid('name')"
    />
    <small *ngIf="isInvalid('name')">
      {{ getError('name') }}
    </small>
  </div>

  <div class="field">
    <label>Address 1 *</label>
    <input
      formControlName="address_1"
      [class.invalid]="isInvalid('address_1')"
    />
    <small *ngIf="isInvalid('address_1')">
      {{ getError('address_1') }}
    </small>
  </div>

  <div class="field">
    <label>Address 2</label>
    <input formControlName="address_2" />
  </div>

  <div class="field">
    <label>City *</label>
    <input
      formControlName="city"
      [class.invalid]="isInvalid('city')"
    />
    <small *ngIf="isInvalid('city')">
      {{ getError('city') }}
    </small>
  </div>

  <div class="field">
    <label>State *</label>
    <input
      formControlName="state"
      [class.invalid]="isInvalid('state')"
    />
    <small *ngIf="isInvalid('state')">
      {{ getError('state') }}
    </small>
  </div>

  <div class="field">
    <label>Zip *</label>
    <input
      formControlName="zip"
      [class.invalid]="isInvalid('zip')"
    />
    <small *ngIf="isInvalid('zip')">
      {{ getError('zip') }}
    </small>
  </div>

  <div class="field">
    <label>Country *</label>
    <input
      formControlName="country"
      [class.invalid]="isInvalid('country')"
    />
    <small *ngIf="isInvalid('country')">
      {{ getError('country') }}
    </small>
  </div>

</div>
